<%- include("partials/header"); -%>

<form class="" action="/editPost" method="post"  enctype="multipart/form-data">
  <div class="box-own">
    <h1>Edit</h1>
    <div class="container">

        <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="postTitle" value="<%=post.title%>" >
      <label>Post</label>          
      <textarea class="form-control" name="postBody" rows="5" cols="30" value=""><%=post.content%></textarea>
      <label>File</label> (Please upload file of maximum 1MB size)
      
      <input type="file" accept="file/*" class="form-control" name="file" required>
      </div>
    </div>
    <img id="imgPost" src="<%=post.imageURL%>" alt=""> 
    <input type="hidden" name="postImgID" value="<%=post.imageID%>"></input>
    <button class="btn btn-primary" type="submit" name="button" >Publish</button>

  </div>
</form>    
  <%- include("partials/footer"); -%>